{% extends "layout.html" %}

{% block body %}
    
    <h1>Register</h1>
    <form action="/register" method="post">
        <input name="inputname" type="text" autofocus placeholder="input your name">
        <input name="inputemail" type="email" autofocus placeholder="input your email">
        <select name="sport">
            <option disabled selected value="">Sport</option>
            {% for sport in sports %}
                <option value="{{ sport }}">{{ sport }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Register"> 
    </form>

{% endblock %}